<h1 class="jumbotron jumbotron-fluid text-center">Scraped Data off StackOverFlow <strong>React</strong> <i
		class="fas fa-code"></i></h1>
{{!-- <div class="text-center">
<input type="text" id="scrape-input"><br>
<input id="scrape-submit" type="submit" value="GO!">
</div> --}}
<div class="container-fluid">
	{{#each scrapedmodals}}

	<div class="card">
		<div class="card-header text-center text-white bg-dark">
			<h1 class="text-warning"> {{this.title}}</h1>
			<h5><i class="fas fa-chevron-left"></i>Tags: {{this.tags}}<i class="fas fa-chevron-right"></i></h5>
		</div>
		<div class="card-body">
			<blockquote class="blockquote mb-0">
				<h2 class="text-center">Summary <i class="far fa-newspaper"></i></h2>
				<p>{{this.summary}}</p>
				<h6 class="text-danger">{{this.relativeTime}}</h6>
				<h6><i class="far fa-clock"></i>{{this.absoluteTime}}</h6>
				<footer class="blockquote-footer">
					<p>User Profile Link: {{this.userProfileLink}}</p>
					<p><i class="far fa-user"></i> {{this.userName}}</p>
					<p><i class="far fa-star"></i> {{this.userReputationScore}}</p>
					<p><i class="far fa-eye"></i> {{this.views}}</p>
					<p>Votes: {{this.votes}}</p>
					<p>Answers: {{this.answers}}</p>
				</footer>
			</blockquote>
		</div>
		<div class="card-footer">
			<small class="text-muted"><i class="fas fa-link"></i>{{this.link}}</small>
		</div>
		<div class="form-group">
			<div class="text-center">Leave A Comment<i class="far fa-comments"></i></div>
			<textarea class="newCommentInput form-control" id="comment" rows="3"></textarea>
		</div>
		<div class="text-center">
			<button type="submit" class="submitButton btn btn-danger mb-2">Submit</button>
			<button type="button" class="btn btn-primary mb-2" data-toggle="modal"
				data-target=".bd-example-modal-lg">Comments</button>
		</div>
	</div>
	<br><br>


	<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
		aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">

				<h4 class="text-center">{{this.title}}</h4>

				<h5 class="text-center border-bottom border-secondary">Comments</h5>
				<p id="commentModal">{{this.commentArr}}</p>

			</div>
		</div>
	</div>



	{{/each}}
</div>






<script type="text/javascript">
	$(document).ready(function () {
		$(".submitButton").on("click", function () {
			event.preventDefault();
			console.log("clicked");

			//console.log("$(this).parent().parent().find("div.form-group").attr("textarea").text()")
			//console.log($(".newCommentInput").val().trim());
			//console.log($(".newCommentInput").text());
			console.log($("#comment").val());

			var info = {
				newComment: $("#comment").val().trim(),
				id: $(this).parent().parent().find("div.card-footer").find("small.text-muted").text()
			}
			console.log(info);

			$.ajax("/submit", {
				type: "POST",
				data: info,
			}).then(
				function (result) {
					alert("Comment Added~");
					console.log(result);
				})
		});
	});
</script>